/* Termin-Box */
.termin-section {
  margin-top: 40px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15);
  display: inline-block;
}

.termin-section h2 {
  margin-bottom: 15px;
}

#terminForm input, #terminForm button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
}

#terminForm input {
  width: 180px;
}

#terminForm button {
  background-color: #ff66cc;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#terminForm button:hover {
  background-color: #ff3385;
}

.saved-termin {
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
}


